<section class="covers" id="covers-section">
    <h2 class="visually-hidden">Covers</h2>
    <div class="covers-container">
      <div class="covers-inner-container">
        <!-- line-1 -->
        <ul class="covers-line">
          <li class="covers-line-item">
            <img src="./images/covers_img/cover-1.jpg" class="cover-line-img" alt="Cover-1">
          </li>
          <li class="covers-line-item">
            <img src="./images/covers_img/cover-2.jpg" class="cover-line-img" alt="Cover-2">
          </li>
          <li class="covers-line-item">
            <img src="./images/covers_img/cover-3.jpg" class="cover-line-img" alt="Cover-3">
          </li>
          <li class="covers-line-item">
            <img src="./images/covers_img/cover-4.jpg" class="cover-line-img" alt="Cover-4">
          </li>
          <li class="covers-line-item">
            <img src="./images/covers_img/cover-5.jpg" class="cover-line-img" alt="Cover-5">
          </li>
        </ul>
        <!-- line-2 -->
        <ul class="covers-line">
          <li class="covers-line-item">
            <img src="./images/covers_img/cover-6.jpg" class="cover-line-img" alt="Cover-6">
          </li>
          <li class="covers-line-item">
            <img src="./images/covers_img/cover-7.jpg" class="cover-line-img" alt="Cover-7">
          </li>
          <li class="covers-line-item">
            <img src="./images/covers_img/cover-8.jpg" class="cover-line-img" alt="Cover-8">
          </li>
          <li class="covers-line-item">
            <img src="./images/covers_img/cover-9.jpg" class="cover-line-img" alt="Cover-9">
          </li>
          <li class="covers-line-item">
            <img src="./images/covers_img/cover-10.jpg" class="cover-line-img" alt="Cover-10">
          </li>
        </ul>
        <!-- line-3 -->
        <ul class="covers-line">
          <li class="covers-line-item">
            <img src="./images/covers_img/cover-5.jpg" class="cover-line-img" alt="Cover-5">
          </li>
          <li class="covers-line-item">
            <img src="./images/covers_img/cover-4.jpg" class="cover-line-img" alt="Cover-4">
          </li>
          <li class="covers-line-item">
            <img src="./images/covers_img/cover-3.jpg" class="cover-line-img" alt="Cover-3">
          </li>
          <li class="covers-line-item">
            <img src="./images/covers_img/cover-2.jpg" class="cover-line-img" alt="Cover-2">
          </li>
          <li class="covers-line-item">
            <img src="./images/covers_img/cover-1.jpg" class="cover-line-img" alt="Cover-1">
          </li>
        </ul>
        <!-- line-4 -->
        <ul class="covers-line">
          <li class="covers-line-item">
            <img src="./images/covers_img/cover-10.jpg" class="cover-line-img" alt="Cover-10">
          </li>
          <li class="covers-line-item">
            <img src="./images/covers_img/cover-9.jpg" class="cover-line-img" alt="Cover-9">
          </li>
          <li class="covers-line-item">
            <img src="./images/covers_img/cover-8.jpg" class="cover-line-img" alt="Cover-8">
          </li>
          <li class="covers-line-item">
            <img src="./images/covers_img/cover-7.jpg" class="cover-line-img" alt="Cover-7">
          </li>
          <li class="covers-line-item">
            <img src="./images/covers_img/cover-6.jpg" class="cover-line-img" alt="Cover-6">
          </li>
        </ul>
      </div>
    </div>
  </section>