<section class="covers">
<h2 class="visually-hidden">Covers</h2>
<div class="content">
    <!-- <div class="marquee"> -->
        <ul class="marquee__inner">
            <picture>
                <li class="marquee__line">
                <source media="(min-width:768px)" srcset="../images/covers_img/first_screen-tab_1x.png">
                <source media="(min-width:320px)" srcset="../images/covers_img/first_screen-mob_1x.png">
                <img src="../images/covers_img/first_screen-dis_1x.png" alt="first_screen" style="width:auto;">
                </li>
            </picture>
            <picture>
                <li class="marquee__line">
                <source media="(min-width:768px)" srcset="../images/covers_img/Rectangle_4_tab-1x.png">
                <source media="(min-width:320px)" srcset="../images/covers_img/Rectangle_4_mob-1x.png">
                <img src="../images/covers_img/Rectangle_4_dis-1x.png" alt="Rectangle_4" style="width:auto;">
                </li>
            </picture>

         </ul>
        <div class="marquee__inner">
            <ul class="marquee__line"> <img src="../images/covers_img/first screen-dis 1x.png" alt="first screen"> </ul>
            <ul class="marquee__line"> <img src="../images/covers_img/Rectangle 10-1x.png" alt="first screen"> </ul>
            <ul class="marquee__line"> <img src="../images/covers_img/Rectangle 11-1x.png" alt="first screen"> </ul>
            <ul class="marquee__line"> <img src="../images/covers_img/Rectangle 12-1x.png" alt="first screen"> </ul>
            <ul class="marquee__line"> <img src="../images/covers_img/Rectangle 4-1x.png" alt="first screen"> </ul>
            <ul class="marquee__line"> <img src="../images/covers_img/Rectangle 5-1x.png" alt="first screen"> </ul>
            <ul class="marquee__line"> <img src="../images/covers_img/Rectangle 6-1x.png" alt="first screen"> </ul>
            <ul class="marquee__line"> <img src="../images/covers_img/Rectangle 7-1x.png" alt="first screen"> </ul>
            <ul class="marquee__line"> <img src="../images/covers_img/Rectangle 8-1x.png" alt="first screen"> </ul>
            <ul class="marquee__line"> <img src="../images/covers_img/Rectangle 9-1x.png" alt="first screen"> </ul>
        </div>
        <div class="marquee__inner">
            <ul class="marquee__line"> <img src="../images/covers_img/first screen-dis 1x.png" alt="first screen"> </ul>
            <ul class="marquee__line"> <img src="../images/covers_img/Rectangle 10-1x.png" alt="first screen"> </ul>
            <ul class="marquee__line"> <img src="../images/covers_img/Rectangle 11-1x.png" alt="first screen"> </ul>
            <ul class="marquee__line"> <img src="../images/covers_img/Rectangle 12-1x.png" alt="first screen"> </ul>
            <ul class="marquee__line"> <img src="../images/covers_img/Rectangle 4-1x.png" alt="first screen"> </ul>
            <ul class="marquee__line"> <img src="../images/covers_img/Rectangle 5-1x.png" alt="first screen"> </ul>
            <ul class="marquee__line"> <img src="../images/covers_img/Rectangle 6-1x.png" alt="first screen"> </ul>
            <ul class="marquee__line"> <img src="../images/covers_img/Rectangle 7-1x.png" alt="first screen"> </ul>
            <ul class="marquee__line"> <img src="../images/covers_img/Rectangle 8-1x.png" alt="first screen"> </ul>
            <ul class="marquee__line"> <img src="../images/covers_img/Rectangle 9-1x.png" alt="first screen"> </ul>
        </div>
    </div>
</div>
</section>