
<section class="covers" id="covers">
<h2 class="covers visually-hidden">Covers</h2>
<div class="content">
    <div class="marquee">
        <ul class="marquee__inner"> 
            <li class="marquee__line">
                <picture>
                    <source media="(min-width:768px)" srcset="images/covers_img/Rectangle_10-tab-1x.png">
                    <source media="(min-width:320px)" srcset="images/covers_img/Rectangle_10-mob-1x.png">
                    <img src="images/covers_img/Rectangle_10-dis-1x.png" alt="Rectangle_10">
                </picture>
            </li>
            <li class="marquee__line">
                <picture>
                    <source media="(min-width:768px)" srcset="images/covers_img/Rectangle_7_tab-1x.png">
                    <source media="(min-width:320px)" srcset="images/covers_img/Rectangle_7_mob-1x.png">
                    <img src="images/covers_img/Rectangle_7_dis-1x.png" alt="Rectangle_7">
                </picture>
            </li>
            <li class="marquee__line">
                <picture>
                    <source media="(min-width:768px)" srcset="images/covers_img/Rectangle_11_tab-1x.png">
                    <source media="(min-width:320px)" srcset="images/covers_img/Rectangle_11_mod-1x.png">
                    <img src="images/covers_img/Rectangle_11_dis-1x.png" alt="Rectangle_11">
                </picture>
            </li>
            <li class="marquee__line">
                <picture>
                    <source media="(min-width:768px)" srcset="images/covers_img/Rectangle_8_tab-1x.png">
                    <source media="(min-width:320px)" srcset="images/covers_img/Rectangle_8_mob-1x.png">
                    <img src="images//covers_img/Rectangle_8_dis-1x.png" alt="Rectangle_8">
                </picture>
            </li>
 


         </ul>
        <ul class="marquee__inner"> 
        <li class="marquee__line">
            <picture>
                <source media="(min-width:768px)" srcset="images/covers_img/first_1-_tab-1x.png">
                <source media="(min-width:320px)" srcset="images/covers_img/first_1-_mob-1x.png">
                <img src="images/covers_img/first_1-_dis-1x.png" alt="first_screen">
            </picture>
        </li>
        <li class="marquee__line">
            <picture>
                <source media="(min-width:768px)" srcset="images/covers_img/Rectangle_4_tab-1x.png">
                <source media="(min-width:320px)" srcset="images/covers_img/Rectangle_4_mob-1x.png">
                <img src="images/covers_img/Rectangle_4_dis-1x.png" alt="Rectangle_4">
            </picture>
        </li>
                    
        <li class="marquee__line">

            <picture>
                <source media="(min-width:768px)" srcset="images/covers_img/Rectangle_6_tab-1x.png">
                <source media="(min-width:320px)" srcset="images/covers_img/Rectangle_6_mob-1x.png">
                <img src="images/covers_img/Rectangle_6_dis-1x.png" alt="Rectangle_6">
            </picture>
        </li>
        <li class="marquee__line">
            <picture>
                <source media="(min-width:768px)" srcset="images/covers_img/Rectangle_12_tab-1x.png">
                <source media="(min-width:320px)" srcset="images/covers_img/Rectangle_12_mob-1x.png">
                <img src="images/covers_img/Rectangle_12_dis-1x.png" alt="Rectangle_12">
            </picture>
        </li>
        </ul>




            <ul class="marquee__inner"> 
                <li class="marquee__line"> 

                    <picture>
                        <source media="(min-width:768px)" srcset="images/covers_img/Rectangle_5-tab-1x.png">
                        <source media="(min-width:320px)" srcset="images/covers_img/Rectangle_5-mob-1x.png">
                        <img src="images/covers_img/Rectangle_5-dis-1x.png" alt="Rectangle_5">
                    </picture>
                </li>
                <li class="marquee__line">
                    <picture>
                        <source media="(min-width:768px)" srcset="images/covers_img/Rectangle_11_tab-1x.png">
                        <source media="(min-width:320px)" srcset="images/covers_img/Rectangle_11_mod-1x.png">
                        <img src="images/covers_img/Rectangle_11_dis-1x.png" alt="Rectangle_11">
                    </picture>
                </li>
            
                <li class="marquee__line">
                    <picture>
                        <source media="(min-width:768px)" srcset="images/covers_img/Rectangle_9_tab-1x.png">
                        <source media="(min-width:320px)" srcset="images/covers_img/Rectangle_9_mob-1x.png">
                        <img src="images/covers_img//Rectangle_9_dis-1x.png" alt="Rectangle_9">
                    </picture>
                </li>
                <li class="marquee__line">
                    <picture>
                        <source media="(min-width:768px)" srcset="images/covers_img/Rectangle_8_tab-1x.png">
                        <source media="(min-width:320px)" srcset="images/covers_img/Rectangle_8_mob-1x.png">
                        <img src="images/covers_img/Rectangle_8_dis-1x.png" alt="Rectangle_8">
                    </picture>
                </li>
            </ul>
        </div>
</div> 
</section>



