<section class="faq-section" id="frequently-asked-questions">
  <div class="container faq-container">
    <h2 class="faq-header">FAQ</h2>
    <ul class="accordion-container">
      <li class="ac">
        <button class="ac-trigger">
          What programming languages are most often used in your project?
          <span class="icon-wrapper">
            <svg class="icon" width="20" height="20">
              <use href="../images/FAQ_img/faq-icons.svg#icon-arrow-down"></use>
            </svg>
          </span>
        </button>

        <div class="ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="ac">
        <button class="ac-trigger">
          What are the deadlines for the project?
          <span class="icon-wrapper">
            <svg class="icon" width="20" height="20">
              <use href="../images/FAQ_img/faq-icons.svg#icon-arrow-down"></use>
            </svg>
          </span>
        </button>

        <div class="ac-panel">
          <p class="ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="ac">
        <button class="ac-trigger">
          What payment methods do you accept?
          <span class="icon-wrapper">
            <svg class="icon" width="20" height="20">
              <use href="../images/FAQ_img/faq-icons.svg#icon-arrow-down"></use>
            </svg>
          </span>
        </button>

        <div class="ac-panel">
          <p class="ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>

      <li class="ac li-4">
        <button class="ac-trigger">
          How can I contact you?
          <span class="icon-wrapper">
            <svg class="icon" width="20" height="20">
              <use href="../images/FAQ_img/faq-icons.svg#icon-arrow-down"></use>
            </svg>
          </span>
        </button>

        <div class="ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="ac">
        <button class="ac-trigger">
          Do you provide advice or support?
          <span class="icon-wrapper">
            <svg class="icon" width="20" height="20">
              <use href="../images/FAQ_img/faq-icons.svg#icon-arrow-down"></use>
            </svg>
          </span>
        </button>

        <div class="ac-panel">
          <p class="ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="ac">
        <button class="ac-trigger">
          What does the process of developing a software product look like from
          idea to implementation?
          <span class="icon-wrapper">
            <svg class="icon" width="20" height="20">
              <use href="../images/FAQ_img/faq-icons.svg#icon-arrow-down"></use>
            </svg>
          </span>
        </button>

        <div class="ac-panel">
          <p class="ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
