<section class="hero" id="hero">
  <div class="content-wrapper">
    <div class="">
      <h1 class="hero-header">
        Hello. <br />I’m Fullstack developer Lloyd Jefferson.
      </h1>
      <ul class="social-media">
        <li>
          <a
            class="smi social-media-item1"
            href="https://www.instagram.com/goitclub/"
            >IG</a
          >
        </li>
        <li>
          <a
            class="smi social-media-item2"
            href="https://www.facebook.com/goITclub/"
            >FB</a
          >
        </li>
        <li>
          <a
            class="smi social-media-item3"
            href="https://www.youtube.com/c/GoIT"
            >YT</a
          >
        </li>
        <li>
          <a
            class="smi social-media-item4"
            href="https://github.com/vanok00/FSON107_JS_project-01"
            >GH</a
          >
        </li>
        <li>
          <a class="smi social-media-item5" href="">lloydjefferson@gmail.com</a>
        </li>
      </ul>
    </div>
  </div>
</section>
