<section class="projects" id="projects-section">
  <h2 class="projects-heading">Projects</h2>
  <div class="swiper">
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
        <div class="project-card">
          <div class="project-description-block">
            <ul class="project-tags">
              <li class="project-tag">#react</li>
              <li class="project-tag">#js</li>
              <li class="project-tag">#node js</li>
              <li class="project-tag">#git</li>
            </ul>
            <div>
              <h3 class="project-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a class="project-link" href="https://github.com/vanok00/FSON107_JS_project-01" target="blank_">See project</a>
            </div>
          </div>
          <div class="project-img-block">
            <picture>
              <source srcset="./images/projects_img/project-1.jpg 1x, ./images/projects_img/project-1-2x.jpg 2x" media="(min-width: 376px)">
              <source srcset="./images/projects_img/project-1-mob.jpg 1x, ./images/projects_img/project-1-mob-2x.jpg 2x" media="(max-width: 375px)">
              <img class="project-img" src="./images/projects_img/project-1.jpg" alt="Project-1" loading="lazy">
            </picture>
          </div>
        </div>
      </li>

      <li class="swiper-slide">
        <div class="project-card">
          <div class="project-description-block">
            <ul class="project-tags">
              <li class="project-tag">#react</li>
              <li class="project-tag">#js</li>
              <li class="project-tag">#node js</li>
              <li class="project-tag">#git</li>
            </ul>
            <div>
              <h3 class="project-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a class="project-link" href="https://github.com/vanok00/FSON107_JS_project-01" target="blank_">See project</a>
            </div>
          </div>
          <div class="project-img-block">
            <picture>
              <source srcset="./images/projects_img/project-2.jpg 1x, ./images/projects_img/project-2-2x.jpg 2x" media="(min-width: 376px)">
              <source srcset="./images/projects_img/project-2-mob.jpg 1x, ./images/projects_img/project-2-mob-2x.jpg 2x" media="(max-width: 375px)">
              <img class="project-img" src="./images/projects_img/project-2.jpg" alt="Project-2" loading="lazy">
            </picture>
          </div>
        </div>
      </li>

      <li class="swiper-slide">
        <div class="project-card">
          <div class="project-description-block">
            <ul class="project-tags">
              <li class="project-tag">#react</li>
              <li class="project-tag">#js</li>
              <li class="project-tag">#node js</li>
              <li class="project-tag">#git</li>
            </ul>
            <div>
              <h3 class="project-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a class="project-link" href="https://github.com/vanok00/FSON107_JS_project-01" target="blank_">See project</a>
            </div>
          </div>
          <div class="project-img-block">
            <picture>
              <source srcset="./images/projects_img/project-3.jpg 1x, ./images/projects_img/project-3-2x.jpg 2x" media="(min-width: 376px)">
              <source srcset="./images/projects_img/project-3-mob.jpg 1x, ./images/projects_img/project-3-mob-2x.jpg 2x" media="(max-width: 375px)">
              <img class="project-img" src="./images/projects_img/project-3.jpg" alt="Project-3" loading="lazy">
            </picture>
          </div>
        </div>
      </li>
    </ul>
    
    <ul class="project-btns">
      <li class="swiper-button-prev">
        <div class="arrow-icon arrow-left">
          <svg class="icon" width="24" height="24">
            <use href="./images/icons/symbol-defs.svg#icon-arrow-narrow-right-converted"></use>
          </svg>
        </div>
      </li>
      <li class="swiper-button-next">
        <div class="arrow-icon arrow-right">
          <svg class="icon" width="24" height="24">
            <use href="./images/icons/symbol-defs.svg#icon-arrow-narrow-right-converted"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>
