<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>

    <div class="swiper">
      <ul class="swiper-wrapper"></ul>

      <div class="reviews-button-wrapepr">
        <button class="reviews-button reviews-button-prev" type="button">
          <svg class="reviews-button-icon">
            <use href="images/icons/symbol-defs.svg#icon-arrow-2"></use>
          </svg>
        </button>

        <button class="reviews-button reviews-button-next" type="button">
          <svg class="reviews-button-icon">
            <use href="images/icons/symbol-defs.svg#icon-arrow-3"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
