<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>

    <div class="reviews-swiper swiper">
      <ul class="reviews-list swiper-wrapper"></ul>

      <ul class="reviews-controls">
        <li class="reviews-controls-item">
          <button
            class="reviews-controls-btn reviews-controls-prev"
            type="button"
          >
            <svg class="reviews-controls-icon">
              <use href="images/icons/symbol-defs.svg#icon-arrow-2"></use>
            </svg>
          </button>
        </li>

        <li class="reviews-controls-item">
          <button
            class="reviews-controls-btn reviews-controls-next"
            type="button"
          >
            <svg class="reviews-controls-icon">
              <use href="images/icons/symbol-defs.svg#icon-arrow-3"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
