<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>

    <div class="reviews-swiper swiper">
      <ul class="reviews-list swiper-wrapper"></ul>

      <div class="reviews-controls">
        <button
          class="reviews-controls-btn reviews-controls-prev"
          type="button"
        >
          <svg class="reviews-controls-icon">
            <use href="images/icons/symbol-defs.svg#icon-arrow-2"></use>
          </svg>
        </button>

        <button
          class="reviews-controls-btn reviews-controls-next"
          type="button"
        >
          <svg class="reviews-controls-icon">
            <use href="images/icons/symbol-defs.svg#icon-arrow-3"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
