.about-section{
  padding-bottom: 32px;
  padding-top: 32px;
}

.about-container {
  margin: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-first-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.about-me {
  border-radius: 24px;
  max-width: 343px;
  height: 500px;
  background-color: #242527;
  padding: 32px;
}

.about-me-text {
  width: 279px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.about-me-text-decor {
  color: #ed3b44;
}

.about-me-text-second-decor {
  color: rgba(250, 250, 250, 0.4);
}

.about-picture {
  width: 343px;
  height: 500px;
}

.about-info-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 32px;
}

.info-item-btn {
  display: flex;
  margin-bottom: 12px;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  border: none;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  width: 343px;
}

.info-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  width: 36px;
  height: 36px;

  transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-icon-wrapper:hover,
.info-icon-wrapper:focus {
  border: 1px solid #fafafa;
  ;
}

.info-item-panel {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  overflow: hidden;
  margin-bottom: 20px;
}

.info-item.js-enabled .info-item-panel {
  visibility: hidden;
}

.info-item.is-active .info-item-panel {
  visibility: visible;
}

.info-item.is-active .info-icon {
  transform: rotate(-180deg);
}

.info-item-summery-text {
  margin-bottom: 32px;
}

.info-item-role-text,
.info-item-education-text {
  margin-bottom: 10px;
}

.info-items-divider {
  border-color: rgba(250, 250, 250, 0.2);
  border-width: 1px;
  margin: 0;
}

/* tecnologies */
.tec {
  position: relative;
  width: 260px;
  height: 130px;
}

.tec .swiper {
  width: 100%;
  height: 130px;
  position: relative;
}

.tec .swiper-slide {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 130px;
  max-width: 130px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.tec .swiper-slide-active {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 130px;
  max-width: 130px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  background-color: #ED3B44;
  border: none;
}

.tec-navigation {
  position: absolute;
  top: 40%;
  right: -85px;
}

.about-button-next {
  display: flex;
  border: none;
  box-shadow: none;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 28px;
  height: 28px;
  padding: 0;
  cursor: pointer;
}

.tec-swipe-icon {
  fill: #3B3B3B;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .about-container {
    width: 100%;
  }

  .about-me-text {
    width: 100%;
  }

  .about-container {
    width: auto;
  }

  .info-item-btn {
    width: 100%;
  }

  .tec-navigation {
    right: -30px;
  }
}

@media screen and (min-width: 768px) {

  .about-section{
    padding-bottom: 48px;
  }

  .about-first-wrapper {
    margin-bottom: 64px;
  }

  .about-me {
    max-width: 704px;
    height: 700px;
    padding: 64px;
  }

  .about-me-text {
    width: 576px;
    font-size: 38px;
    line-height: 1.05;
  }

  .about-photo {
    width: 704px;
    height: 700px;
  }

  .about-info-list {
    gap: 32px;
    margin-bottom: 64px;
  }

  .info-item-btn {
    width: 704px;
    margin-bottom: 8px;
  }

  .info-icon-wrapper {
    width: 40px;
    height: 40px;
  }

  .info-icon {
    width: 15px;
    height: 15px;
  }

  .info-item-panel {
    margin-bottom: 32px;
  }

  .tec {
    width: 600px;
    height: 200px;
  }

  .tec .swiper {
    width: 100%;
    height: 200px;
  }

  .tec .swiper-slide {
    font-size: 20px;
    max-width: 200px;
    height: 200px;
  }

  .tec-navigation {
    right: -100px;
  }

  .about-button-next {
    width: 40px;
    height: 40px;
  }

  .tec-swipe-icon {
    width: 40px;
    height: 40px;
  }

}

@media screen and (min-width: 1440px) {

  .about-section{
    padding-bottom: 82px;
    padding-top: 48px;
  }

  .about-first-wrapper {
    flex-direction: row;
    margin-bottom: 96px;
  }

  .about-me {
    width: 680px;
    height: 700px;
  }

  .about-me-text {
    width: 552px;
  }

  .about-photo {
    width: 680px;
    height: 700px;
  }

  .about-info-list {
    margin-bottom: 96px;
  }

  .info-item-btn {
    width: 1376px;
  }

  .info-item-text {
    margin-left: 696px;
    width: 612px;
  }

  .tec {
    width: 1200px;
    margin-left: 32px;
  }


  .tec-navigation {
    right: -145px;
  }

  .about-button-next .swiper-button-lock {
    display: flex;
  }
}