body{
    font-family: 'Inter Tight', sans-serif;
    background: #1c1d20;
}



.container {
    max-width: 100%;
    padding: 0 16px;
    margin: 0 auto;
  }

@media screen and (min-width: 375px) {
    .container {
      max-width: 375px;
    }
  }

@media screen and (min-width: 768px) {
    .container {
      padding: 0 15px;
      max-width: 734px;
    }
  }
  
@media screen and (min-width: 1440px) {
    .container {
      padding: 0 15px;
      max-width: 1406px;
    }
  }



