/* .header {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
} */

*******************************
 /* .visually-hidden {
  position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    /* display: none; */
    /* visibility: hidden;  */
    /* opacity: 0.0; */
    /* pointer-events: none;
 } */ 
h2 .covers.visually-hidden {
    position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
       display: none; 
      visibility: hidden; 
      opacity: 0.0; 
      pointer-events: none;
}

.covers {
  background-size: cover;
  padding: 20px;
}

.content {
  position: relative;
    width: 1440px;
    height: 960px;
    background-size: cover;

}


.marquee {
    background-image: url('/images/covers_img/elements_vectors.png');
    position: absolute;
    right: -800px;
    left: 0;
    overflow: hidden;
  }


.marquee__inner {
  height: 100vh;
  display: flex;
  transform: rotate(16deg);

}

.marquee__line {
   flex-shrink: 0;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
 
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
  }
}

@keyframes marqueeLine {
  from {
   transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
}



