@media (max-width: 767px) {
  .mob-menu {
    z-index: 999;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0;
    background-image: url(../images/header_img/Glass-effect.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 24px 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center; 
  }

  .mobile-header {
    position: relative;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 32px 16px;
  
  }


  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .mob-nav {
    flex-grow: 1; 
    display: flex;
    align-items: center; 
  }

  .nav-and-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: center; 
  }

  .menu a{
    display: none;
  }
  

  .mob-menu-btn {
    border: none;
    width: 34px;
    height: 34px;
    background-color: transparent;
    stroke-width: 1px;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mob-btn-close-icon {
    fill: none;
    stroke: #FBFBFB;
  }
  .mob-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .mob-menu-link {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #FAFAFA;
  }
  .mob-menu-link:hover,
  .mob-menu-link:focus,
  .mob-menu-link:active {
    color: #ed3b44;
  }
  .mob-underlin-menu-link::after {
    content: '';
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
    bottom: -1px;
    left: 95.5px;
    top: 260px;
  }
  .mob-icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .mob-icon-item {
    border: 1px solid rgba(251, 251, 251, 0.1);
    border-radius: 10px;
    width: 34px;
    height: 34px;
  }
  .mob-icon-linc {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mob-icon-icon {
    fill: rgba(251, 251, 251, 0.8);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mob-icon-linc:hover > .mob-icon-icon,
  .mob-icon-linc:focus > .mob-icon-icon {
    fill: #FBFBFB;
  }
  .order-nav {
    border-radius: 60px;
    background: #ED3B44;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #FAFAFA;
    width: 164px;
    height: 45px;
    padding: 14px 25px;
    text-align: center;
  }
  .order-nav-container {
    margin-bottom: 40px; 
    display: flex;
    justify-content: center; 
    width: 100%;
  }


  .header {
    height: 0;
  }
  

  .order-button-desktop {
    display: none;
  }
}
.header-menu-open-btn {
  border: 0;
  line-height: 0;
  background-color: transparent;
  margin-bottom: 52px;
}


.header-menu-icon-svg {
  stroke: #0C0C0C;
  fill: none;
}

.hidden {
  display: none;
}


.menu-toggle {
  display: none;
}

.active {
  transform: translateX(0);
}
.close-icon {
  position: absolute;
  top: 32px;
  right: 16px;
  color: white;
  cursor: pointer;
  background-color: transparent;
}
.mobile-menu-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #FAFAFA;
  margin-bottom: 12px;
}
.menu-link:hover {
  color: #A11F24;
}
.order-button {
  background-color: #ED3B44;
  min-width: 164px;
  border-radius: 60px;
  padding: 14px 31px;
  font-weight: 500;
  font-size: 14px;
  color: #FAFAFA;
}
.order-button:hover,
.order-button:focus {
  background-color: #E0373F;
}

@media (min-width: 768px) {


.menu-container{
  position: absolute;
  top: -40%;
  left: 8px;
  transform: translate(55%, 50%);
}

.mob-btn-close-icon{
  display: none;
}
  .menu {
    display: none;
    position: absolute;
    top: 75px;
    left: 318px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    height: 0;
    transition: height 0.3s ease; 
}
/* .menu.show {
  display: block;
  height: auto; 
  transition: height 0.3s ease; 
} */
.menu.show {
  display: flex;
  flex-direction: column;
  color: #FAFAFA;
  font-weight: 500;
  font-size: 16px;
  transition: height 0.3s ease;
  background-color: transparent;
  position: absolute;
  left: 334px;
}



/* .menu a {
    display: block;
    padding: 0 20px;
    text-decoration: none;
    color: #fafafa;
    font-weight: 500;
    font-size: 16px;
    color: #FAFAFA;
    background-color: transparent;
    padding-top: 10px;
} */

.menu a:last-child {
    border-bottom: none;
}

.menu a:hover {
    color: #ed3b44;;
}
  .header {
    padding: 0;
    position: absolute;
    top: 32px;
    bottom: 0;
    right: 0;
    left: 50px;
    margin: 0;
  }
  .menu-wrapper {
    line-height: 0;
    background-color: transparent;
    margin-bottom: 52px;
    color: #FAFAFA;
  }

.mobile-header {
    position: relative;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;

  
  }

  .menu-toggle {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #FAFAFA;
    background-color: transparent;
    padding-top: 10px;
    position: relative;
  }
  .mob-menu {
    visibility: hidden;
  }
  .order-button {
    margin-left: auto;
  }
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #333;
    width: 200px;
    padding: 20px;
  }
  .mobile-menu ul {
    list-style-type: none;
    padding: 0;
  }
  .mobile-menu-overlay {
    display: none;
  }
  .mobile-menu ul li {
    margin: 10px 0;
  }
  .mobile-menu ul li a {
    color: white;
    text-decoration: none;
  }
  .hidden {
    display: none;
  }
  .burger-icon {
    display: none;
  }
  .order-button-desktop {
    border-radius: 60px;
    background: #ED3B44;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #FAFAFA;
    border: none;
    margin-bottom: 25px;
    padding: 18px 24px;
  }
  
}
.menu-open-btn {
  display: block;
  margin-left: auto;
  border: none;
}

@media (min-width: 1440px) {

  .menu.show {
    left: 341px;
  }
  
  .mobile-header {
    width: 1440px;
    height: 80px;
    background-image: url('../images/hero_img/glass-desk.png');
    background: transparent;
    
  }

  .menu-container{
    position: absolute;
    top: -40%;
    left: 24%;
    transform: translate(55%, 50%);
  }

}









/* ======================================================================= */








